exec my_binds.cfg
bind "=" "exec my_binds.cfg"

# aliases
alias "dc" "disconnect"




# viewmodel
viewmodel_fov 68
viewmodel_offset_x 2.5
viewmodel_offset_y 2
viewmodel_offset_z -0.4
viewmodel_presetpos 0	




# crosshair
## style
cl_crosshairdot 0
cl_crosshair_drawoutline true
cl_crosshair_outlinethickness 0.000000
cl_crosshairstyle 4
cl_crosshair_t false
cl_crosshairusealpha true
cl_crosshairalpha 165
cl_crosshaircolor_r 255
cl_crosshaircolor_g 0
cl_crosshaircolor_b 0
cl_crosshairgap -2.957814
cl_crosshairsize 1.640117
cl_crosshairthickness 0.650807

## settings
cl_crosshair_friendly_warning 0
cl_crosshair_recoil 0
cl_crosshairgap_useweaponvalue false

### sniper
cl_crosshair_sniper_width 1
cl_sniper_show_inaccuracy false
cl_sniper_delay_unscope false
cl_sniper_auto_rezoom false

### grenade line up reticle (all off)
cl_grenadecrosshair_smoke false
cl_grenadecrosshair_flash false
cl_grenadecrosshair_fire false
cl_grenadecrosshair_explosive false
cl_grenadecrosshair_decoy false




# damage prediction
cl_predict_body_shot_fx false
cl_predict_head_shot_fx false
cl_predict_kill_ragdolls false




# hud
cl_hud_color 6
cl_showfps 1
hud_scaling 1
r_show_build_info 0
cl_weapon_selection_rarity_color 1
cl_force_spec_hud_color_to_team 0
cl_teamcounter_playercount_instead_of_avatars 0

## radar
cl_radar_always_centered 0
cl_radar_scale 0.300000
cl_radar_rotate 1
cl_hud_radar_blur_background 1
cl_hud_radar_background_alpha 0.627000




# mouse
sensitivity 1.160000
sensitivity_y_scale 1.000000
cl_debounce_zoom 1
zoom_sensitivity_ratio 0.996920



# audio
snd_headphone_eq 0
snd_deathcamera_volume 0.00000
snd_menumusic_volume 0.120442
snd_mvp_volume 0.000000
snd_roundaction_volume 0.000000
snd_mapobjective_volume 0.000000
snd_tensecondwarning_volume 0.022117
snd_roundend_volume 0.023015
snd_roundstart_volume 0.023015
snd_steamaudio_enable_perspective_correction true
snd_mute_losefocus true

# others
cl_mute_enemy_team 1
cl_silencer_mode 0
r_drawtracers_firstperson 1
cl_use_opens_buy_menu 0
rate 786432 
fps_max 0



echo "autoexec.cfg: RETURN 0"
